<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>
    <modules>

      <add name="MyDemoModule"
           xdt:Locator="Match(name)"
           xdt:Transform="RemoveAll" />

      <add name="MyDemoModule"
           type="$SharePoint.Type.809f01c6-6802-42c3-9e64-b76f2c1385ef.AssemblyQualifiedName$"
           xdt:Transform="Insert" />

    </modules>
  </system.webServer>

</configuration>